body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #007bff;
  color: #fff;
  padding: 20px;
}

h1 {
  margin: 0;
  font-size: 36px;
}

main {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

.article {
  width: 100%;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .article {
    width: 50%;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .article {
    width: 33.33%;
  }
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

a {
  display: block;
  margin-top: 10px;
  color: #007bff;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
